@import '../../../../styles/devices.mixins';

.container {
  height: 40px;
  display: inline-flex;
  align-items: center;
  gap: 24px;

  .timer {
    font-weight: 700;
    font-size: 18px;
    @include small-desktop {
      display: none;
    }
  }
}
