@import '../../../../styles/fonts.scss';
@import '../../../../styles/color.scss';
.input {
  padding-right: 40px;
  width: 356px;
  height: 47px;
  border: 1px solid #9ca3b0;
  border-radius: 5px;

  font-family: $helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.09px;
  padding: 10px 10px 10px 10px;
  &.disable{
    background-color: white;
    border-color: rgba(201, 201, 201, 1);
  }
}
.inputHolder {
  position: relative;
  display: 'inline-block';
}

.showPasswordButton {
  position: absolute;
  top: 25%;
  right: 3%;
  width: fit-content;
}

.input::placeholder {
  font-family: $helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-family: $helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: $text-color;
}

.subLabel {
  font-family: $helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;

  color: #8f8f8f;
}
.disable{
  color:rgba(179, 179, 179, 1);
}