@import '../../../../styles/font_style.scss';
@import '../../../../styles/color.scss';
@import '../../../../styles/devices.mixins';

.filter {
  position: relative;
  grid-column: 1;
  grid-row: 3;

  border-radius: 10px;
  border: 0.5px solid var(--Header-table, #d2d1d2);
  background: #fff;

  display: flex;
  gap: 16px;
  flex-direction: column;

  .header {
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid #eaeef4;
    line-height: 20px;
    text-align: left;
    padding: 8px 16px;
    @include small-desktop {
      font-size: 14px;
    }
    @include tablet-width {
      font-size: 14px;
    }
  }

  .disabled {
    padding: 16px;
    opacity: 0.5;
    pointer-events: none;
  }
  > div {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 16px;
    > div {
      display: flex;
      align-items: center;
      gap: 4px;
    }
    span {
      padding: 16px;
      padding: 0;
    }
    .filter__item {
      padding: 16px;
      cursor: pointer;
      padding: 4px 16px;
      border-radius: 50px;
      border: 0.5px solid var(--Green-brand, #00a82d);
      // background: var(--Green-Super-Light, #edf8f2);
      &.neutral {
        border: 0.5px solid var(--Yellow, #fcbb39);
        // background: #ffe2a8;
      }
      &.negative {
        border: 0.5px solid var(--Red, #ff0000);
        // background: #ffd1d1;
      }
    }
  }
}
