.chat_button_open {
  cursor: pointer;
  font-size: 45px;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.chat-button {
  cursor: pointer;
  z-index: 999999;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #0b0b0b !important;
  border-radius: 100px;
  animation: moveUpDown 1s ease-in-out infinite alternate;
}
