$black: #333333;
$black-text: #5d6472;
$black-2: #000000;
$grey: #c8c9c7;
$grey-2: #c5c8d3;
$grey-3: #eaebea;
$grey-header-chedule: #f7fbfe;
$grey-header-chedule-border: #e0e7f2;
$white: #ffffff;
$red: #f9395c;
$blue: #006fcf;
$secondary-text-color: #5d6472;
$blue-2: #016fd0;
$blue-3: #1e95fe;
$time-line-row: #f7f8f9;
$text-in-menu: #5d6472;
$imgBlue: invert(47%) sepia(88%) saturate(2748%) hue-rotate(189deg) brightness(101%) contrast(102%); //filter: $imgBlue
$form-bg-color: #fafdff;
$disabled-text-color: #b1b1b1d2;

$grey-border: #bcc4c8;
$blue-checkbox: #3288f6;
$version: #788a9c;

$list-header: #99cdff;
$list-item-selected: #e0f0ff;
$list-item-hover: #f1f5f9;

$yellow: rgba(162, 162, 35, 0.637);
$green: rgba(73, 216, 73, 0.658);
$blue-cat: #006ecf8e;

// colors

$baground: #f6f9ff;
$text-color: #1f1f1f;
$gray-text-color: #727272;
$selected-baground: #d9e0ec;
$white: #ffffff;
$nodeBaground: #f7f7f7;
$nodeHeader: #d9d9d9;
$nodeText: #9c9c9c;
$nodeBorder: #b1b1b1;
$nodeActivBorder: #817b7b;
$disabledBackground: #ffffff83;
$placeholderColor: #b8c5db;
$text-dark: rgba(114, 114, 114, 1);
$tableHeaderColor: rgba(31, 31, 31, 1);
$hoveredBackground: #eaeff7;
$borderColor: #d8dbdf;
$displayPlaceholderColor: #cccccc;
$interactionBorderColor: #eaeef4;
