$helvetica: 'Helvetica Neue';

@font-face {
  font-family: 'Helvetica Neue';
  src:
    local('HelveticaNeue'),
    url('assets/fonts/HelveticaNeueCyr-Thin.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica';
  src: url('assets/fonts/HelveticaNeueCyr-Thin.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../assets/fonts/HelveticaNeueCyr-Roman.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica';
  src: url('assets/fonts/HelveticaNeueCyr-Thin.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../assets/fonts/HelveticaNeueCyr-Medium.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../assets/fonts/HelveticaNeueCyr-Bold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../assets/fonts/HelveticaNeueCyr-Bold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src:
    local('Inter'),
    url('../assets/fonts/Inter-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src:
    local('Inter'),
    url('../assets/fonts/Inter-Bold.ttf') format('woff2');
  font-weight: 700;
  font-style: normal;
}
