.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}

.content {
  max-width: 865px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-family: 'Helvetica Neue' sans-serif;
  font-size: 120px;
  font-weight: 700;
  line-height: 147px !important;
  letter-spacing: 0em;
  text-align: center;
  color: #1f1f1f;
}

.subTitle {
  color: #666666;
  font-family: 'Helvetica Neue' sans-serif;
  font-size: 50px;
  font-weight: 500;
  line-height: 75px !important;
  letter-spacing: 0em;
  text-align: center;
}
