@import '../../../../../styles/fonts.scss';
@import '../../../../../styles/devices.mixins';
@import '../../../../../styles/color.scss';

.mainBlock {
  display: flex;
  padding: 1rem;
  width: 100%;
  flex-direction: column;
  height: 100%;
}
.EmptyPlaceholder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.8rem;
  height: 100%;
  width: 100%;
  flex: 1;

  .content {
    font-family: $helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
    max-width: 14rem;
    color: $placeholderColor;
  }
}
