@import '../../../../../styles/fonts.scss';
@import '../../../../../styles/devices.mixins';

.container {
  border: 1px #9ca3b0 solid;
  border-radius: 20px;
  padding: 24px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  width: calc(33% - 48px);
  @include medium-desktop {
    gap: 24px;
  }
  @include small-desktop {
    gap: 12px;
  }
  @include tablet-width {
    gap: 12px;
  }
  @include laptop-max-height-790 {
    gap: 12px;
  }
  @include laptop-width {
    width: 100%;
  }
  @include smallTablet-width {
    width: 100%;
  }
  @include mobile-width {
    width: 100%;
  }
  &.pro {
    background-color: #f6f9ff;
  }

  .costLabel {
    color: #1f1f1f;
    font-family: $helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    text-align: left;
    font-weight: 500;

    @include tablet-width {
      font-size: 14px;
      line-height: 18px;
    }
    @include laptop-width {
      font-size: 16px;
      line-height: 20px;
    }
    @include laptop-max-height-790 {
      font-size: 14px;
      line-height: 18px;
    }
  }

  .buttonHolder {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    & button {
      font-size: 16px;

      @include tablet-width {
        width: 250px;
        height: 20px;
      }
      @include laptop-max-height-790 {
        width: 250px;
        height: 20px;
      }
    }
  }
  .benefitsContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include medium-desktop {
      gap: 8px;
    }

    @include small-desktop {
      gap: 8px;
    }
    @include tablet-width {
      gap: 8px;
    }

    @include laptop-max-height-790 {
      gap: 8px;
    }

    .benefit {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      @include small-desktop {
        gap: 4px;
      }
      @include tablet-width {
        gap: 4px;
      }
      @include laptop-max-height-790 {
        gap: 4px;
      }
      .benefitText {
        color: #1f1f1f;
        font-family: $helvetica, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        @include tablet-width {
          font-size: 14px;
          line-height: 20px;
        }
        @include laptop-width {
          font-size: 16px;
          line-height: 20px;
        }
      }

      .iconHolder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position:
          bottom center,
          50%,
          50%;
      }
    }
  }
  .descLabel {
    width: 100%;

    span {
      display: flex;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      color: #1f1f1f;
      font-family: $helvetica, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      @include tablet-width {
        font-size: 14px;
        line-height: 20px;
      }
      @include laptop-width {
        font-size: 16px;
        line-height: 20px;
      }
      @include laptop-max-height-790 {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  .titleHolder {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
  }
  .header {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .title {
    color: #1f1f1f;
    font-family: $helvetica, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
  }
}
